{% extends 'base.html' %}

{% load static %}
{% load range %}
{% load humanize %}

{% block title %}Welcome to Fantasy!{% endblock %}

{% block content %}

<section class="hero position-relative">
    <h3 class="hero-title">Do you want to eat <strong>a delicious food</strong> in the world?</h3>
    <div class="hero-footer-image">
        <img src="{% static 'projectPhotos/ink white.png' %}" alt="">
    </div>
</section>
<div class="container">
    <section class="our-work row wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">
        <div class="col-md-6 col-lg-6 col-sm-12 our-work-content">
            <h3 class="title">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices.
                Morbi
                vitae
                pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 our-work-image">
            <img src="{% static 'projectPhotos/food.png' %}" alt="">
        </div>
    </section>

    <section class="features">
        <h3 class="title text-center wow slideInRight">Why people <strong>choose us</strong>?</h3>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow rotateIn" data-wow-delay="0.5s" data-wow-duration="1s">
                <img src="{% static 'projectPhotos/Group1.png' %}" alt="">
                <h4 class="feature-content text-center">
                    <strong>Delicious</strong> foods from <br>the popular <strong>chef</strong> cookers
                </h4>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow rotateIn" data-wow-delay="0.8s" data-wow-duration="1s">
                <img src="{% static 'projectPhotos/Group2.png' %}" alt="">
                <h4 class="feature-content text-center">
                    <strong>Delicious</strong> foods from <br>the popular <strong>chef</strong> cookers
                </h4>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow rotateIn" data-wow-delay="1s" data-wow-duration="1s">
                <img src="{% static 'projectPhotos/Group3.png' %}" alt="">
                <h4 class="feature-content text-center">
                    <strong>Fast</strong> delivery service
                </h4>
            </div>
        </div>
    </section>

    <section class="daily-food-str mb-5">
        <h3 class="title text-center wow fadeInUp"><img src="{% static 'projectPhotos/daily_food.png' %}" alt=""></h3>
        <div class="row">
            <div class="col-md-4 col-lg-4 position-relative wow slideInLeft" data-wow-delay="0.5s">
                <img src="{% static 'icons/ar_lb.png' %}" alt="" class="ar-lb">
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow fadeInUp" data-wow-delay="0.3s">
                <a href="{% url 'get_daily_offerings' id=1 %}"><img class="type" src="{% static 'projectPhotos/breakfast.png' %}" alt=""></a>
                <h4 class="name text-center">Breakfast</h4>
            </div>
            <div class="col-md-4 col-lg-4 position-relative wow slideInRight" data-wow-delay="0.5s">
                <img src="{% static 'icons/ar_rb.png' %}" alt="" class="ar-rb">
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow fadeInLeft" data-wow-delay="0.6s">
                <a href="{% url 'get_daily_offerings' id=2 %}"><img class="type" src="{% static 'projectPhotos/dinner.png' %}" alt=""></a>
                <h4 class="name text-center">Dinner</h4>
            </div>
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4 col-sm-12 feature wow fadeInRight" data-wow-delay="0.6s">
                <a href="{% url 'get_daily_offerings' id=3 %}"><img class="type" src="{% static 'projectPhotos/lunch.png' %}" alt=""></a>
                <h4 class="name text-center">Supper</h4>
            </div>
        </div>
    </section>
    {% if foods %}
    <section class="discount-foods">
        <h1 class="title">Get our foods at <span>&#127775;</span><span class="special">discount</span><span>&#127775;</span></h1>
        <div class="owl-carousel owl-theme owl-carousel-discount">
            {% for food in foods %}
            <div class="card">
                <div class="image-container">
                    <img class="card-img-top" src="{{ food.image.url }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h3 class="discount">-{{food.discount|floatformat:"0"}}%</h3>
                    <h4 class="card-title text-left food-name">{{food.name}}</h4>
                    <p class="content">{{food.description}}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="price mb-0" style="text-decoration: line-through;">
                                {% with price=food.price|floatformat:'0' %}
                                {{price|intcomma}}
                                {% endwith %}</p>

                            <p class="price actual_price">
                                {% with price=food.get_current_price|floatformat:'0' %}
                                {{price|intcomma}}
                                {% endwith %}</p>
                        </div>
                        <p class="col-md-6 text-right">
                            <input type="number" name="quantity" value='1' min='1' class="quantity">
                        </p>
                    </div>
                    <button class="btn order-btn" value="add to cart">
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>
{% if reviews %}
<section class="reviews mt-5">
    <h3 class="title text-center text-white">What others say...<button data-toggle="modal" data-target="#rateWindow"
            class="review-btn">Leave Review</button></h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for review in reviews %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" 
            {% if forloop.counter0 == 0 %}
            class="active"
            {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for review in reviews %}
            <div 
            {% if forloop.counter0 == 0 %}
            class="carousel-item active"
            {% else %}
            class="carousel-item"
            {% endif %}
            >
                <div class="review-block">
                    <div class="ava">
                        {% if review.user_id.custom_user.avatar %}
                        <img src="{{review.user_id.custom_user.avatar.url}}" alt="Image Not Found">
                        {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Image Not Found">
                        {% endif %}
                    </div>
                    {% if review.user_id.first_name and review.user_id.last_name %}
                    <h3 class="name text-center">{{review.user_id.first_name}} {{review.user_id.last_name}}</h3>
                    {% else %}
                    <h3 class="name text-center">{{review.user_id.username}}</h3>
                    {% endif %}
                    <div class="rating-block text-center">
                        <span>Rating:</span>
                        {% for i in 5|times %}
                        <span 
                        {% if i <= review.rate %}
                        class="fa fa-star checked"
                        {% else %}
                        class="fa fa-star"
                        {% endif %}></span>
                        {% endfor %}
                    </div>
                    <p class="text-center"><small class="font-italic">Date: {{review.created_date}}</small></p>
                    <p class="text-center review-content"><q>{{review.content}}</q></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{% endif %}
<section class="location">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11982.801139578602!2d69.32825476926264!3d41.337130260507884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3772abeffc72e7b8!2sInha%20University%20in%20Tashkent!5e0!3m2!1sen!2s!4v1592641428854!5m2!1sen!2s"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
</section>
{% include 'partials/_user_rating.html' %}
{% endblock %}