{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}Enjoy our meals!{% endblock %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
    </style>
{% endblock %}

{% block content %}
<section class="menu-header position-relative">
    <h3 class="title">Our Menu</h3>
    <div class="hero-footer-image">
        <img src="{% static 'projectPhotos/ink white.png' %}" alt="">
    </div>
</section>

<div class="container">
    <section class="section-cuisine fadeInUp mt-5" data-wow-duration="1s" data-wow-delay="300ms">
        <div class="owl-carousel owl-theme owl-carousel-cuisine">
            {% if cuisines %}
            {% for cuisine in cuisines %}
            <div class="cuisine" style="background-image:url({{cuisine.image.url}})">
                <div class="overlay text-center">
                    <span>{{cuisine.name}}</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="food-types mt-3">
        <div class="owl-carousel owl-theme owl-carousel-type">
            {% if types %}
            {% for type in types %}
            <div class="item text-center" style="background-image: url({{type.image.url}})">
                <a href="#{{type.name}}">{{type.name}}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="foods">
        {% for type in types %}
        <h2 id="{{type.name}}" class="title text-center">{{type.name}}</h2>
        <div class="row">
            {% for food in type.foods.all %}
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="card">
                        <div class="image-container">
                            <img class="card-img-top" src="{{food.image.url}}" alt="Card image cap">
                        </div>
                        <div class="card-body" data-urlAddToCart="{% url 'add_to_cart' %}" data-foodId="{{food.id}}" data-urlLike="{% url 'like' %}" data-csrf="{{csrf_token}}" data-urlDislike="{% url 'dislike' %}">
                            <div class="res-container text-center" style="font-size: 1.5em; overflow:hidden;">
                                <p class="float-left"><i class="far fa-thumbs-up like"
                                        style="color:blue"></i><span><small class="like-count">{{food.likes.count}}</small></span></p>
                                <p class="float-right"><span><small class="dislike-count">{{food.dislikes.count}}</small></span><i
                                        class="far fa-thumbs-down dislike" style="color:blue"></i></p>
                            </div>
                            <h4 class="card-title text-left food-name">{{food.name}}</h4>
                            <p class="content">{{food.description}}</p>
                            <div class="row bottom-row">
                                <div class="col-md-6">
                                    {% if food.discount %}
                                    <p class="price mb-0" style="text-decoration: line-through;">
                                        {% with price=food.price|floatformat:'0' %}
                                        {{price|intcomma}}
                                        {% endwith %}
                                    </p>
                                    <p class="price actual_price">
                                        {% with price=food.get_current_price|floatformat:'0' %}
                                        {{price|intcomma}}
                                        {% endwith %}
                                    </p>
                                    {% else %}
                                    <p class="price" data-price="{{food.price}}">
                                        {% with price=food.get_current_price|floatformat:'0' %}
                                        {{price|intcomma}}
                                        {% endwith %}
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if food.discount %}
                                    <h4 class="discount">-{{food.discount|floatformat:"0"}}%</h4>
                                    {% endif %}
                                    <p class="text-right">
                                        <input type="number" name="quantity" value='1' min='1' class="quantity">
                                    </p>                                    
                                </div>
                            </div>
                            <button class="btn order-btn">add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}